symmetric-is-core/src/main/resources/components.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="components" type="components"/>

  <xs:complexType name="component">
    <xs:all/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="components">
    <xs:sequence>
      <xs:element name="component" type="component" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

